@model List<E_commerce.Models.User>

@{
    Layout = "_Layout_Admin";
}
<h2>User Management</h2>
<p>
    <a class="btn btn-primary" href="#">Create New</a>
</p>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.FullName</td>
            <td>@u.Email</td>
            <td>@u.Username</td>
            <td>@u.Role</td>
            <td>@u.Status</td>
            <td>
                <a class="btn btn-success" href="/admin/users/edit/@u.Id">Edit</a>
                <a class="btn btn-warning" asp-action="details" asp-route-id="@u.Id">Details</a>
                <a class="btn btn-danger" asp-action="delete" asp-route-id="@u.Id">Delete</a>
            </td>
        </tr>
    }

</table>